li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#testButton {
  display: none;
}

#headerImg {
  height: 600px;
  width: 100%;
}

#text {
  text-align: center;
  color: blue;

}

body {
  width: 1440;
}
